.btnList {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.btn,
.btnReset {
  cursor: pointer;
  background-color: lightgray;
  text-transform: capitalize;
  border: 1px solid #212121;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 68px;
}

.btn:active,
.btn:hover {
  background-color: rgba(82, 85, 82, 0.712);
}

.btnReset {
  margin-left: 8px;
}

.btnReset:active,
.btnReset:hover {
  background-color: rgb(246, 245, 248);
}
